.plan-title {
  text-align: center;
}

.plan {
  text-align: center;
  margin: 0 auto 10vh auto;
  padding-top: 40px;
}

.plan-heading {
  background: black;
  color: white;
  padding: 20px 10px;
  font-size: 25px;
}

.plan-body {
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #DDEFBB, #FFEEEE);
  background: -moz-linear-gradient(45deg, #DDEFBB, #FFEEEE);
  background: -o-linear-gradient(45deg, #DDEFBB, #FFEEEE);
  background: linear-gradient(45deg, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px 10px;
  margin-top: -10px;
}

.plan-body > p {
  font-size: 20px;
  padding-top: 10px;
}

.plan-button {
  font-size: 15px;
  width: 150px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #2c2c2c;
  border: none;
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #155799, #159957);
  background: -moz-linear-gradient(45deg, #155799, #159957);
  background: -o-linear-gradient(45deg, #155799, #159957);
  background: linear-gradient(45deg, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.plan-button:hover {
  animation: planLift 0.3s ease-in-out forwards;
  border: none;
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #155799, #159957);
  background: -moz-linear-gradient(135deg, #155799, #159957);
  background: -o-linear-gradient(135deg, #155799, #159957);
  background: linear-gradient(135deg, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

@keyframes planLift {
  100% {
    transform: scale(1.02);
    box-shadow: 3px 3px 7px #2c2c2c;
  }
}