.admin > h2 {
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.admin-login-label {
  text-align: left !important;
}

.admin-login-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.admin-login-form {
  padding-bottom: 30vh;
}

.admin-login-alert {
  text-align: center;
}

.admin-panel > h2 {
  padding-top: 10vh;
  text-align: center;
}

.admin-panel-button {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}