.home {
  padding-top: 50px; 
  margin-top: -20px;
  display: block;
  min-height: 70vh;
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #dc2430, #7b4397);
  background: -moz-linear-gradient(45deg, #dc2430, #7b4397);
  background: -o-linear-gradient(45deg, #dc2430, #7b4397);
  background: linear-gradient(45deg, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.home-pacman, .home-pacman-ghost {
  padding: 20px;
}

.home-pacman {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation: home-pacman 4s  ease-in-out infinite;
}

@keyframes home-pacman {
  0% {
    margin: 0 0vw;
  }
  50% {
    margin: 0px 93vw;
    transform: rotate(360deg);
  }
  100% {
    margin: 0px 0vw;
  }
}

.home-section {
  padding-top: 50px;
}

.home-pacman-ghost {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation: home-pacman-ghost 2s ease-in-out infinite;
}

@keyframes home-pacman-ghost {
  0% {
    margin: 0 auto;
  }
  50% {
    margin: 50px auto 0px auto;
  }
  100% {
    margin: 0 auto;
  }
}

.home-step {
  text-align: center;
}

@media screen and (min-width: 300px) {
  .home {
    min-height: 170vh;
  }
}

@media screen and (min-width: 370px) {
  .home {
    min-height: 130vh;
  }
}

@media screen and (min-width: 750px) {
  .home {
    min-height: 70vh;
  }
}